.container_shop {
    padding: 2rem;
    text-align: center;
    min-width: 900px;
    font-family: Pragmatica!important;
  }
  .header_cartpage {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .header_cartpage div {
    flex: 1;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
  }
  .body {
    display: flex;
    justify-content: space-between;
    align-items: center!important;
    text-align: center;
    margin-bottom: 1rem;
    align-items: flex-start;
  }
  .body > * {
    flex: 1;
    text-align: center;
  }
  .image {
    width: 100px;
  }
  .buttons > * {
    width: 25px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    margin: 0.5rem;
    font-size: 1rem;
  }
.ThomasHeader a{
  color: #000!important;
}
.ThomasHeader{
  margin-bottom: 5%!important;
}
.options_ul {
  padding-left: 0;
}
.options_ul li{
  list-style: none;
  text-transform: capitalize;
  font-size: 0.7rem;
  text-align: center;
  color: #6B3E81;
}
.paragraph{
  line-height: 1rem;
}