.container{
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
}

.animated_anchor{
  transition: linear 0.3s!important;
  display:inline-block;
}

.animated_anchor:hover,
.animated_anchor:focus,
.animated_anchor:active{
  -ms-transform: scale(1.2)!important;
  -webkit-transform: scale(1.2)!important;
  transform: scale(1.2)!important;
  animation: linear 0.3s!important;
}

.top_section{
    position: relative;
    font-size: 0;
  }
.header{
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    right:0;
    z-index: 101;
    color: #79d2d4;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
}
.header ul,
.footer ul{
    list-style: none;
    padding: 0;
    display: flex;
    font-family: Pragmatica;
    justify-content: center;
}
.header ul li a,
.footer ul li a{
    font-size: 11px;
    padding: 0 20px;
    font-weight: bold;
    letter-spacing: 4px;
}
.header_logo{
    max-width: min(220px, 40%);
    position: relative;
    z-index: 99;
}
.burgerContainer{
  margin-left: 30px;
  cursor: pointer;
  display: none;
}
.mobile_menu{
  max-height: 0;
  -ms-transition: max-height 0.35s ease-out;
  -webkit-transition: max-height 0.35s ease-out;
  transition: max-height 0.35s ease-out;
  overflow: hidden;
  max-width: 50%;
}
.mobile_menu ul{
  padding: 0;
  margin-top: 100px;
}
.mobile_menu .socials_container{
  flex-direction: column;
  align-items: center;
}
.mobile_menu .socials_container a{
  border-color: #000;
  width: 60px;
  height: 60px;
  margin:10px;
  padding: 16px;
  display: block;
  background-color: #79d2d4;
}
.mobile_menu ul li{
  list-style: none;
  color: #6B3E81;
  font-family: Audiowide;
  margin-top: 20px;
}
.mobile_menu ul li a{
  color: #6B3E81;
}
.mobile_menu > a{
  display: block;
  margin: 15px auto;
}
.socials_container{
    display: flex;
    justify-content: center;
}
.socials_container a{
    display: flex;
    border-radius: 50%;
    border:1px solid #ccc;
    width: 30px;
    height: 30px;
    padding: 7px;
    margin: 0 5px;
}

.hoodies_subcontainer{
    display: flex;
    padding: 3% 12%;
}

.hoodies_subcontainer div:first-of-type{
  min-width: 300px;
  max-width: 80%;
  margin: auto;
}
.hoodies_subcontainer div:last-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    text-align: left;
}
.hoodies_subcontainer h2{
    color: #06094f;
    font-size: 3rem;
    line-height: 2rem;
    margin: 5px 0;
}

.hoodies_subcontainer h3{
    color: #ffffff;
    font-weight: bold;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 5px 0;
}

.hoodies_subcontainer h5{
    font-size: 0.55rem;
    margin-top: 5px;
}

.hoodies_section{
    font-size: 0px;
}

.hand_painted{
    position: relative;
    overflow: hidden;
}
.hand_painted > h2{
  color:#fff;
  position: relative;
  z-index: 2;
  max-width: 400px;
  margin: 5% auto;
  letter-spacing: 4px;
  font-size: 1.3rem;
  line-height: 1.3rem;
}
.hand_painted p{
  color: #06094f;
  max-width: min(80%, 1400px);
  padding: 10px;
  text-align: center;
  line-height: 1.2rem;
  margin: auto;
}
.hand_painted_background{
    position: absolute;
    z-index: 1;
}
.hand_painted:not(.canvas_prints_container) .post_products_creation{
  padding-bottom: 3rem;
}

.products_container{
  color:#fff;
  position: relative;
  z-index: 9;
  display: flex;
  align-items: stretch;
  max-width: 80%;
  margin: auto;
  justify-content: center;
}
.products_container .product{
  background-color: #fff;
  color: #000;
  margin: 15px;
  max-width: 70%;
  width: 300px;
  padding-bottom: 5%;
}

.products_container .product_image{
  height: 250px;
  margin: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
}

.product_image img{
  min-width: 0!important;
  width: auto!important;
}
.products_container .product + .product .product_image{
  padding-bottom: 10%;
}
.products_container .product + .product + .product .product_image{
  padding-bottom: 20%;
}
.products_container .product h5{
  color: #06094f;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  max-width: 200px;
}
.products_container .product h6{
  margin: 7px 0;
  text-transform: uppercase;
}
.products_container .product a{
  background-color: #79d2d4;
  color: #06094f;
  padding: 5px 15px;
  font-size: 0.7rem;
  font-weight:bold;
  letter-spacing: 5px;
}

.canvas_prints_container h2{
  margin-top: 50%;
  margin-bottom: 3%;
}



.canvas_prints_container .product_image{
  display: block;
  max-width: 80%;
  margin: 15px auto;
}
.canvas_prints_container .product:nth-child(2) .product_image{
  max-width: 70%;
}
.canvas_prints_container .product:nth-child(3) .product_image{
  max-width: 60%;
}
.canvas_prints_container h6{
  font-size: 0.6rem;
  color: #484848;
}

.canvas_prints_container .post_products_creation{
  font-size: 0;
}


.post_products_creation h2{
    color: #0e1757;
    position: relative;
    z-index: 2;
    max-width: 80%;
    margin: 4% auto 2%;
    letter-spacing: 4px;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.post_products_creation a{
  background-color: #fff;
  font-family: Audiowide;
  padding: 7px 12px;
  margin-top: 15px;
}

.footer{
  margin-bottom: -7px;
  position: relative;
}
.footer .footer_overlay{
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
}
.footer a{
  max-width: 200px;
  color: #79d2d4;
}
.footer .footer_overlay p{
  font-size: 0.45rem;
  line-height: 0.7rem;
  color: #fefefe;
  max-width: 600px;
}
.footer .socials_container{
  margin: 30px 0 60px;
}
.footer .socials_container a{
  width: 35px;
  height: 35px;
}

.product_image span{
  max-height: 100%;
}

.hand_painted_background,
.hand_painted_background span{
  width: 100%!important;
}
.products_container_and_heading{
  position: absolute;
}

.footer > span{
  min-height: 333px;
}
.unused_points{
  margin: 30px auto;
}

.points_page_container{    
  background-image: url(/static/images/points_page_bg.jpg);
  min-height: 100vh;
  background-size: contain;
  font-family: Audiowide;
  color: #fff;
  padding: 0 10%;
  overflow-x:hidden;
  padding-bottom: 30px;
}
.points_page_container *{
  font-family: Audiowide;
}
.points_page_container > div{
  max-width: 1920px;
  margin: auto;
}


.points_page_container h1{
  font-size: 1.5rem;
  padding-top: 3%;
}
.points_page_container h2{
  font-size: 1.1rem;
  color: #240845;
  padding-top: 1%;
}
.points_page_container h2+h2{
  padding-top: 7%;
}
.points_page_container .collect{
  color: #FF006B;
  border: 1px solid #FF006B;
  background: none;
  border-radius: 10px;
  padding: 14px 14px;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 2rem;
}
.points_page_container h5{
  color: #240845;
  font-size: 0.6rem;
  padding-top: 2%;
}
.points_page_container .progress_container div:first-of-type h6{
  text-align: left;
}
.points_page_container .progress_container > div:last-of-type {
  width: 50%;
}
.points_page_container .progress_container{
  display: flex;
  justify-content: space-between;
  padding-top: 10%;
}
.points_page_container .slider_container_points{
  text-align: left;
}
.points_page_container p{
  background: rgba(255, 255, 255, 0.31);
  border-radius: 21.5224px;
  color: #fff;
  padding: 20px;
  max-width: 700px;
  margin: 5% auto;
}


.progress_bar_parent{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  height: 20px;
  width: 100%;
  margin-left: 20px;
}
.progress_bar_parent div{
  background-color: #FF006B;
  height: 100%;
  border-radius: 30px;
}
.progress_span{
  font-size: 0.55rem;
}

.points_slider img{
  padding: 20px!important;
  border-radius: 30px;
  margin: auto;
  max-width: 100%;
}
.slider_container_points{
  padding-top: 10%;
}
.points_page_container .withdraw{
  background: #FF006B;
  border: 1px solid #FF006B;
  color: #fff;
  border-radius: 10px;
  padding: 10px 5%;
  margin-bottom: 40px;
}
.points_slider *{
  text-align: center;
}
.marginTopBot{
  margin: 5% 0;
}
.disconnect_button{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px!important;
}
.no_cgc{
  text-align: center;
  color: #fff!important;
}
.no_cgc a{
  text-decoration: underline!important;
}
@media (min-width: 1901px){
  
  .footer{
    max-height: 550px;
  }
}
@media (min-width: 1000px){
  .slider{
    display: none;
  }
}
@media (min-width: 901px){
  .mobile_menu{
    display: none;
  }
  .hideOnDesktop{
    display: none;
  }
}
  
  @media screen and (max-width: 1450px){
    .canvas_prints_container .post_products_creation{
      margin-top: -15%;
    }
  }
  @media screen and (max-width: 1000px) {

    .products_container{
      display: block;
    }
    .hoodies_subcontainer{
      font-size: 2rem;
    }
    .products_container .product{
      margin-left: auto;
      margin-right: auto;
    }
    .products_container > .product{
      display: none;
    }

  }

  @media screen and (max-width: 900px) {
    .header ul,
    .header .socials_container{
      display: none;
    }
    .burgerContainer{
      display: inline-block;
    }
    .hideOnMobile{
      display: none;
    }
    .points_page_container{    
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 50px;
    }

  }
  @media (max-width: 768px){
    .hoodies_subcontainer{
      display: block;
      padding-bottom: 60px;
    }
    .hand_painted > h2{
      margin:40px autp;
    }
  }
  @media (max-width: 508px){
    .points_page_container .progress_container{
      flex-wrap: wrap;
    }
    .points_page_container .progress_container div:first-of-type h6{
      text-align: center;
    }
    .points_page_container .progress_container > div:last-of-type {
      width: 100%;
    }
    .progress_bar_parent{
      margin-left: 0px;
      margin-top: 15px;
    }
  }
